key.py
myimport.py
test.py
token.json
.idea
.venv
opensky-api
credentials.json
token.json
scratches





__pycache__/key.cpython-312.pyc
__pycache__/myconfig.cpython-312.pyc
__pycache__/quickstart.cpython-312.pyc
__pycache__/myimport.cpython-312.pyc
